html{
	/*-webkit-text-size-adjust:none;*/
}

body,header,nav,section,footer,hgroup,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,textarea{
	display:block;/* HTML5新标签兼容 */
	margin:0;
	padding:0;
	font-family:Microsoft YaHei UI;
	font-weight:normal;
	font-size:0;
}
a{
	text-decoration:none;
}